<ion-tabs>
    <ion-tab [root]="moviesRoot" tabTitle="Movies" tabIcon="film"></ion-tab>
    <ion-tab [root]="tvRoot" tabTitle="TV" tabIcon="easel"></ion-tab>
    <ion-tab [root]="audioRoot" tabTitle="Audio" tabIcon="recording"></ion-tab>
</ion-tabs>
