<ion-header>
  <page-header></page-header>
</ion-header>

<ion-content>
  <ion-list inset>
      <button ion-item (click)="itemSelected(cat)" *ngFor="let cat of cats">
        {{ cat }} <ion-icon name="arrow-forward" item-right color="gray"></ion-icon>
      </button>
  </ion-list>
</ion-content>
