<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only color="gray" (click)="dismiss($event)">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title> {{ (tab||'').firstCapital() }}: {{ item.IFE_TITLE }}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

      <img [src]="item.IFE_LANDING_IMG" class="record-poster"/>

      <ion-card-content>
        <ion-card-title><span>{{ item.IFE_TITLE }}</span><span *ngIf="item.IFE_YEAR"> - {{ item.IFE_YEAR }}</span></ion-card-title>
        <p *ngIf="item.IFE_SYNOPSIS">{{ item.IFE_SYNOPSIS }}</p>

        <div *ngIf="item.AUDIO_TRACK_DETAILS" class="track-details">
          <h3>Track Details</h3>
          <ol class="audio-track-details" *ngIf="item.AUDIO_TRACK_DETAILS">
              <li *ngFor="let item of item.AUDIO_TRACK_DETAILS">
                  <span>{{ item }}</span>
              </li>
          </ol>
        </div>
      </ion-card-content>

      <ion-item>
        <ion-icon name="musical-notes" item-left color="primary"></ion-icon>
        Genre
        <ion-badge item-right color="grey">{{ item.IFE_GENRE }}</ion-badge>
      </ion-item>

      <ion-item *ngIf="item.IFE_RUNTIME">
        <ion-icon name="time" item-left color="primary"></ion-icon>
        Duration
        <ion-badge item-right color="grey">{{ item.IFE_RUNTIME }} min</ion-badge>
      </ion-item>

      <ion-item *ngIf="item.IFE_DIRECTOR">
        <ion-icon name="videocam" item-left color="primary"></ion-icon>
        Director
        <ion-badge item-right color="grey">{{ item.IFE_DIRECTOR }}</ion-badge>
      </ion-item>

      <ion-item *ngIf="item.IFE_CAST">
        <ion-icon name="contacts" item-left color="primary"></ion-icon>
        Cast
        <ion-badge item-right color="grey">{{ item.IFE_CAST }}</ion-badge>
      </ion-item>

      <ion-item *ngIf="item.IFE_RATING">
        <ion-icon name="trophy" item-left color="primary"></ion-icon>
        Certificate
        <ion-badge item-right color="grey">{{ item.IFE_RATING }}</ion-badge>
      </ion-item>

      <ion-item *ngIf="item.IFE_LANG">
        <ion-icon name="globe" item-left color="primary"></ion-icon>
        Languages
        <ion-badge item-right color="grey">{{ item.IFE_LANG.toUpperCase() }}</ion-badge>
      </ion-item>

    </ion-card>
</ion-content>
