page-record {
  .record-poster {
    display: block;
    margin: 0 auto;
    padding: 1.5rem 0;
    width: auto;
    max-height: 30rem;
    text-align: center;
  }

  .track-details {
    padding: 2rem 0 0;
    box-shadow: inset 0 1px 0 0 color($colors, primary);
    margin: 2rem 0 0;
  }

  .track-details h3 {
    font-size: 1.8rem;
    font-weight: 500;
  }

  ol.audio-track-details {
    padding: 0 0 0 3rem;
  }
}
