page-cat-listing {
  .header-button.bar-button {
    color: #efefef;

    &:active,
    &:focus,
    &:hover {
      color: #fff;
    }
  }

  .padding-top {
    padding-top: 1.5rem;
  }

  .record-poster {
    display: block;
    margin: 0 auto;
    padding: 1.5rem 0;
    width: auto;
    max-height: 30rem;
    text-align: center;
  }

  .max-width-11 {
    max-width: 11rem;
  }

  .card-content .small-badges {
    padding-left: 0;
    line-height: 2.5rem;
    font-size: 1.3rem;

    & * {
      white-space: normal;
    }
  }
}
