<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only color="gray" (click)="dismiss($event)">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>{{ tab.firstCapital() }} - {{ reqCat }} ({{items.length}})</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
<ion-searchbar (ionInput)="filterItems($event)" class="padding-top"></ion-searchbar>
  <ion-list>
    <ion-card *ngFor="let item of displayedItems;trackBy: item?._id" (click)="checkRecord(item)">

      <ion-card-content>
        <ion-grid>
          <ion-row>

            <ion-col col-5>
              <img [src]="item.IFE_LANDING_IMG" class="record-poster max-width-11"/>
            </ion-col>
            <ion-col col-7>
              <ion-card-title>{{ item.IFE_TITLE }}</ion-card-title>
              <p>{{ item.IFE_SYNOPSIS && item.IFE_SYNOPSIS.length > 140 ? item.IFE_SYNOPSIS.slice(0, 140) + '&hellip;' : item.IFE_SYNOPSIS }}</p>
              <ion-item class="small-badges">
                <div item-left>Length: {{ item.IFE_RUNTIME }} min</div>
              </ion-item>
            </ion-col>

          </ion-row>
          <ion-row>
            <ion-item>
              <ion-badge item-left>Languages: {{ (item.IFE_LANG||'').toUpperCase() }}</ion-badge>
            </ion-item>
         </ion-row>
        </ion-grid>
      </ion-card-content>

    </ion-card>

    <ion-card *ngIf="!displayedItems.length">
      <ion-card-header>
        Sorry, no records found! check another category
      </ion-card-header>
    </ion-card>

  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" [enabled]="!isEOF" threshold="80%">
    <ion-infinite-scroll-content loadingText="Loading more data..."></ion-infinite-scroll-content>
   </ion-infinite-scroll>

</ion-content>
